.main{
display: flex;
justify-content: center;
gap: 30px;
color: #D1D6DA;
width: 100%;
padding-block: 7px;
background-color: #212731;
position: relative;
input{
    height: 40px;
    border-radius: 10px;
}
.search{
    position: absolute;
    color: #212731;
    left: 30%; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
}
p{
    cursor: pointer;
    background-color: #212731;
}
}
@media (max-width: 576px) {
        .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-inline: 10px; 
        p {
            font-size: 12px;
        }
        .search{
            position: static;
            margin-top: 10px;
        }
    }
    
    
}
@media (max-width:409px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        p{
            font-size: 12px;
        }
        .search{
            position: static;
            left: 40px;
        }
    }
}
@media (max-width:506px)
{
    .search{
    display: none;
   
    }
    
}

  
 