.main{
display: flex;
justify-content: center;
gap: 30px;
color: #D1D6DA;
width: 100%;
padding-block: 7px;
background-color: #212731;
input{
    height: 40px;
    border-radius: 10px;
}
.search{
    position: absolute;
    color: #212731;
    left: 29.5rem;
    top: 21px;
}
p{
    cursor: pointer;
    background-color: #212731;
}
}
@media (max-width: 576px) {
        .main{
        display: flex;
        // flex-direction: column;
        p{
            font-size: 12px;
        }
        .search{
            position: absolute;
            left: 10px;
        }
    }
    
    
}

// @media (min-width:600px and max-width: 768px) {
//     /* Add your styles here */
//     .search{
//         position: absolute;
//         left: 10px;
//     }
//   }
  
  /* For large screens (desktops, 992px and up) */
  @media (max-width: 992px) {
    /* Add your styles here */
    .search{
        display:none;
    }
  }
  