.footer{
    height: 452px;
   width: auto;
    background-color: #212731;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    padding-block: 90px;
    .footer-col{
        background-color: #212731;
        color: #B6BDC4;
        font-size: 13px;
        padding-inline: 180px;

        h3{
            background-color: #212731; 
            font-size: 16px;
            line-height: 24px;
            color: white;
        }
        p{
            background-color: #212731;
            line-height: 40px;
        }
        // .col1{
        //     flex:2;
        //     padding-inline: 50px;
        // }
        // .col2{
        //     flex:2
        // }
        // .col3{
        //     flex:2
        // }
    }
    .col3{
        // padding-block:90px;
        // height: 452px;
    }
    .footericon{
        background-color:#212731;
        color: #D1D6DA;
    }

    // color: white;
}
@media (max-width: 992px){

}